# Load the dataset
- Load the Tips dataset using pandas.

In [ ]:
import pandas as pd
df=pd.read_csv("Dataset")
df

# Load the dataset
- Load the Tips dataset using pandas.

In [ ]:
import pandas as pd
df=pd.read_csv("Dataset")
df

# Basic data exploration
- Display the first 5 rows of the dataset.
- Display the summary statistics of the dataset.
- Check for missing values in the dataset.

In [ ]:
df.head(5)
df.info()
df.dtypes
df.isnull().sum()

# Data selection
- Select the columns 'total_bill', 'tip', and 'sex'.
- Select the rows where the 'total_bill' is greater than $20.
- Select the rows where the day is 'Sun' and the 'time' is 'Dinner'.

In [ ]:
1- selected_columns = df[['total_bill', 'tip', 'sex']]
2- selected_rows = df[df['total_bill'] > 20]
print(selected_rows)
3-selected_rows = df[(df['day'] == 'Sun') & (df['time'] == 'Dinner')]
print(selected_rows)

# Grouping and aggregation:

- Calculate the average total bill for each day.
- Calculate the sum of tips for each day.
- Find the maximum total bill for each combination of day and time.

In [ ]:
#1 result=df.groupby("day")["totalbill"].mean()
#2 result=df.groupby("day")["tips"].sum()
#3 result=df.groupby(["day","time"])["total_bill"].max()

# Data transformation:

- Add a new column 'tip_percentage' which is the tip divided by the total bill multiplied by 100.
- Create a new column 'bill_per_person' which is the total bill divided by the number of people ('size').

In [ ]:
#1 df["tip_percentage"]=df._append(df["tip"] / df["total_bill"])*100
#2 df["bill_per_person"]=df._append(df["total_bill"] / ["size"])

# Filtering:

- Filter the rows where 'tip_percentage' is greater than 15%.
- Filter the rows where 'total_bill' is in the top 10 highest bills.

In [ ]:
#1 filtered_df = df[df['tip_percentage'] > 15]
#print(filtered_df)
#2top_10_bills = df.nlargest(10, 'total_bill')
#print(top_10_bills)

# Sorting:

- Sort the dataset by 'total_bill' in descending order.

In [ ]:
# df["total_bill"]=df.sort_values(by"total_bill"(descending=False))

# Handling missing data:

- Replace any missing values in the 'tip' column with the mean of the 'tip' column.
- Drop any rows where the 'size' is missing.

In [ ]:
#1 result=df["tip"].mean()
# df["tip"]=df["tip"].fillna(result) 

#2 df.drop(index="size",inplace=True)